:root {
    --navy-950: #303b59;
    --navy-200: #cac9ff;
    --navy-50: #ecf2ff;
    --blue-800: #1125d6;
    --blue-50: #f3f4fd;
    --yellow-400: #ffb21e;
    --yellow-50: #fffbf4;
    --red-400: #ff5555;
    --red-50: #fff6f6;
    --green-500: #00bb8f;
    --green-50: #f2fcf9;
    --gradient-1: linear-gradient(#4d21c9, #2521c900);
    --gradient-2: linear-gradient(#7755ff, #2f2ce9);
}

body {
  font-family: "Hanken Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 130%;
}

.container {
    width: 375px;
    height: 809px;
    margin: 200px auto;
    border: 1px solid black;
}

.results {
    height: 356px;
    box-sizing: border-box;
    background: var(--gradient-2);
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
    color: var(--navy-200);
    width: 100%;
}

.results .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 260px;
    height: 100%;
    margin: 0 auto;
    text-align: justify;
}

.results .content .scorecircle {
    width: 140px;
    height: 140px;
    background: var(--gradient-1);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.results .content h2 {
    margin: 0;
    padding: 0;
    color: white;
}

.results .content h3 {
    margin: 32px 0 0 0;
    font-size: 18px;
}

.results .content p {
    font-size: 16px;
}

.score {
    margin: 24px 0;
}

.scorecircle span {
    display: block;
}

.scorecircle .points {
    color: white;
    font-size: 56px;
    line-height: 100%;
}

.scorecircle .out-of {
    font-size: 16px;
    font-weight: bold;
    color: var(--navy-200);
}

.summary .content {
    margin: 0 auto;
    padding: 0 30px;
    text-align: center;
    box-sizing: border-box;
    width: 100%;
}

h3.summary {
    text-align: left;
    margin: 24px 0;
}

.summary .content .bubble {
    display: flex;
    height: 56px;
    align-items: center;
    margin: 16px 0;
    border-radius: 12px;
    padding: 0 20px;
    justify-content: space-between;
}

.summary .content .bubble img {
    margin-right: 16px;
}

.summary .content .reaction {
    background-color: var(--red-50);
}

.summary .content .memory {
    background-color: var(--yellow-50);
}

.summary .content .memory {
    background-color: var(--yellow-50);
}

.summary .content .verbal {
    background-color: var(--green-50);
}

.summary .content .visual {
    background-color: var(--blue-50);
}

button.continue {
    height: 56px;
    width: 100%;
    border-radius: 128px;
    border: none;
    background-color: var(--navy-950);
    color: white;
    font-size: 18px;
    font-weight: bold;
}