:root {
    --navy-950: #303b59;
    --navy-950-alpha-50: #303b5980;
    --navy-200: #cac9ff;
    --navy-50: #ecf2ff;
    --blue-800: #1125d6;
    --blue-50: #f3f4fd;
    --yellow-400: #ffb21e;
    --yellow-50: #fffbf4;
    --red-400: #ff5555;
    --red-50: #fff6f6;
    --green-500: #00bb8f;
    --green-50: #f2fcf9;
    --gradient-1: linear-gradient(#4d21c9, #2521c900);
    --gradient-2: linear-gradient(#7755ff, #2f2ce9);
}

body {
  font-family: "Hanken Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 130%;
}

.container {
    box-sizing: border-box;
    min-width: 375px;
    min-height: 809px;
    width: 100%;
    height: 75vh;
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
}

.results {
    min-height: 256px;
    box-sizing: border-box;
    background: var(--gradient-2);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
    color: var(--navy-200);
    width: 100%;
    height: 356px;
    max-width: 375px;
    margin: 0 auto;
}

.results .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 260px;
    height: 100%;
    margin: 0 auto;
    text-align: justify;
}

.results .content .scorecircle {
    width: 140px;
    height: 140px;
    background: var(--gradient-1);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.results .content h2 {
    margin: 0;
    padding: 0;
    color: white;
    font-weight: bold;
}

.results .content h3 {
    margin: 32px 0 0 0;
    font-size: 18px;
}

.results .content p {
    font-size: 16px;
    text-align: center;
}

.score {
    margin: 24px 0;
}

.scorecircle span {
    display: block;
}

.scorecircle .points {
    color: white;
    font-size: 56px;
    line-height: 100%;
    font-weight: 800;
}

.scorecircle .out-of {
    font-size: 16px;
    font-weight: bold;
    color: var(--navy-200);
}

.summary .content {
    margin: 0 auto;
    padding: 0 30px;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 315px;
    box-sizing: content-box;
}

h3.summary {
    text-align: left;
    margin: 24px 0 8px 0;
    color: var(--navy-950);
}

.summary .content .bubble {
    display: flex;
    height: 56px;
    align-items: center;
    /*margin: 16px 0;*/
    border-radius: 12px;
    padding: 0 20px;
    justify-content: space-between;
    font-weight: 500;
}

.summary .content .bubble .desc {
    display: flex;
}

.summary .content .bubble .desc img {
    margin-right: 16px;
}

.summary .content .reaction {
    background-color: var(--red-50);
}
.summary .content .reaction p {
    color: var(--red-400);
}

.summary .content .memory {
    background-color: var(--yellow-50);
}
.summary .content .memory p {
    color: var(--yellow-400);
}

.summary .content .verbal {
    background-color: var(--green-50);
}
.summary .content .verbal p {
    color: var(--green-500);
}

.summary .content .visual {
    background-color: var(--blue-50);
}
.summary .content .visual p {
    color: var(--blue-800);
}

.score {
    font-weight: bold;
}

.score .top {
    color: var(--navy-950);
    margin-right: 8px;
}

.score .bottom {
    color: var(--navy-950-alpha-50);
}

button.continue {
    height: 56px;
    width: 100%;
    border-radius: 128px;
    border: none;
    background: none;
    background-color: var(--navy-950);
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin-top: 8px;
    display: block;
}

button.continue:hover {
    background: var(--gradient-2);
}

@media (min-width: 768px) {
    .container {
        margin: 200px auto;
        flex-direction: row;
        border-radius: 32px;
        border: none;
        min-height: 500px;
        box-shadow: 0 30px 60px 0 #3d6cec26;
        max-width: 686px;
    }

    .results {
        width: 100%;
        height: 100%;
        border-top-left-radius: 32px;
        border-top-right-radius: 32px;
    }
    .results .content {
        justify-content: center;
    }
    .results .content h2 {
        font-size: 32px;
        margin-bottom: 16px;
    }
    .results .content h3 {
        /*margin-top: 18px;*/
        font-size: 24px;
    }
    .results .content p {
        font-size: 18px;
        max-width: 200px;
    }
    .results .content .scorecircle {
        width: 200px;
        height: 200px;
    }

    .score {
        margin: 32px 0;
    }
    .scorecircle .points {
        font-size: 72px;
    }
    .scorecircle .out-of {
        font-size: 18px;
    }

    .summary {
        width: 100%;
    }
    .summary .content {
        padding: 0;
        height: 100%;
        justify-content: center;
        max-width: 269px;
        box-sizing: border-box;
    }

    .summary .content h3.summary {
        font-size: 24px;
        margin-bottom: 16px;
    }
    .summary .content .bubble {
        display: flex;
        font-size: 18px;
    }

    button.continue {
        margin-top: 16px;
    }
}

@media (min-width: 1024px) {
    .container {
        max-width: 736px;
    }
    .summary .content {
        max-width: 288px;
    }
    .results .content p {
        max-width: 260px;
    }
}